//media queries
$mobile-breakpoint: 320px;
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;

//colors

//Typogrphy
$primry-color: #ff5e3a;
$primary-font: arial, sans-serif;

$tablet-width: 768px;
$desktop-width: 992px;
